.btn-primary {
  background-color: #973b5e !important;
  border-color: #000000 !important;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #7e304e !important;
  border-color: #000000 !important;
}

.table-striped > tbody > tr:nth-of-type(odd) > * {
  background-color: #ffecf7 !important;
}
